# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/


# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache


# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local


.gitignore
node_modules/*
test/*
.vscode/*.json
test.js
test.ts
notes.md
.Attic/*
local/*
.prettierrc.yaml
.Attic
pr.ts
testing/run/l.json

